.login-bg {
  height: 100vh;
  background: linear-gradient(135deg, #355c7d, #6c5b7b, #c06c84);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.login-container {
  background: rgba(0, 0, 0, 0.4);
  padding: 2.5rem;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.icon {
  margin-bottom: 1.5rem;
}
.icon svg {
  width: 70px;
  height: 70px;
  fill: #fff;
}
.input-box {
  margin-bottom: 1.2rem;
  text-align: left;
}
.input-box label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  display: block;
}
.input-box input {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  outline: none;
}
.input-box input:focus {
  border-bottom: 2px solid #ff758c;
}
.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin-bottom: 1.5rem;
}
.options a {
  color: #ffb347;
  text-decoration: none;
}
.options a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  padding: 0.9rem;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}


.login-error {
  margin-top: 16px;
  padding: 10px 14px;
  background-color: rgba(200, 176, 191, 0.12);
  border: 1px solid rgba(247, 12, 12, 0.8);
  border-radius: 28px;
  text-align: center;
}

.login-error p {
  color: #f00808;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}

.login-error span {
  display: block;
  margin-top: 6px;
  font-size: 13px;
  color: #6c63ff;
  cursor: pointer;
  font-weight: 600;
}

.login-error span:hover {
  text-decoration: underline;
}
